/* Login / Signup pages*/
body {
  overflow-x: hidden !important;
}
.signup_page {
  width: auto;
  height: 500px;
  font-weight: 400;
  margin: 0px 0px 0px 0px;
}
.signup_page h1 {
  font-size: 45px;
  float: right;
  font-weight: 400;
  text-align: Justify;
  margin: -111px 231px 10px 31px;
}
.signup_page h2 {
  font-size: 28px;
  font-weight: 400;
  text-align: Justify;
  margin: 29px 0px 0px 50px;
  color: #2c2c2c;
}

.signup_page img {
  margin: -4px 0px -10px 176px;
  display: block;
}

.signup_page .link a {
  border-color: #4285f4;
  color: #4285f4;
}
.signup_page .link a:hover {
  color: #b12d51;
  border-color: #b12d51;
}
.signup_page .toggle,
.signup_page form {
  width: 280px;
  margin: -46px 301px auto -1px;
}
.signup_page .toggle {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: stretch;
}

.signup_page .toggle > * {
  flex-grow: 1;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #8c8c8c;
  border-top: 2px solid transparent;
}
.signup_page .toggle > *.active {
  border-color: #0f9d58;
  border-bottom: #0f9d58;
  color: #0f9d58;
}
.signup_page .toggle > *:hover {
  color: #0f9d58;
  border-color: #0f9d58;
  border-bottom: #0f9d58;
}
.signup_page form {
  float: right;
  display: block;
  flex-direction: row;
  grid-auto-flow: row;
  grid-gap: 6px;
  box-sizing: border-box;
}
.signup_page form > * {
  position: relative;
}
.signup_page form p {
  margin: 5px auto 5px 10px;
}
.signup_page form .error {
  color: #f5222d;
}
.signup_page form input,
.signup_page form button {
  width: 100%;
}
.signup_page form input::placeholder {
  text-transform: uppercase;
}
.signup_page form button {
  text-transform: uppercase;
}
.signup_page .field_errors {
  color: #332728;
  top: 25%;
  position: absolute;
  list-style: none;
  left: 36%;
  font-size: 14px;
  line-height: 16px;
  width: 400px;
}
.signup_page .field_errors li {
  margin-top: 31px;
}

.login_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #e57171;
  width: 100%;
  min-height: 100vh;
}
.login_page .container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_page .container {
  font-size: 45px;
  font-weight: 200;
  padding: 0 10%;
}

.login_page h1 {
  font-size: 96px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

  color: #fff;
  margin: 0;
}

.login_page .link a {
  border-color: #0f9d58;
  color: #0f9d58;
}
.login_page .link a:hover {
  color: #b12d51;
  border-color: #b12d51;
}

.login_page .toggle {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: stretch;
}

.login_page .toggle > * {
  flex-grow: 1;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #8c8c8c;
  border-top: 2px solid transparent;
}
.login_page .toggle > *.active {
  border-color: #0f9d58;
  border-bottom: #0f9d58;
  color: #0f9d58;
}
.login_page .toggle > *:hover {
  color: #0f9d58;
  border-color: #0f9d58;
  border-bottom: #0f9d58;
}
.login_page form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  height: 100vh;
}
/* form conatiner */
.login_page form .form-container {
  width: 650px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(245, 245, 245);
  border-radius: 8px;
}
.form-container h1 {
  color: #333;
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
/* change done */
.login_page form .form-row {
  display: flex;
  width: 450px;
  color: #333;
  position: relative;
  margin-bottom: 20px;
  justify-content: space-between;
}
.login_page form label {
  color: #333;
}

.login_page form .error {
  color: #f5222d;
  text-align: center;
}
.login_page form input {
  padding: 10px;

  border: none;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 2px;
  background: #d9d9d9;
  color: #8c8c8c;
}
.login_page form input:placeholder-shown {
  color: #fff;
}

.login_page form input::placeholder {
  text-transform: uppercase;
}
.login_page form button {
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 4px;
  color: #fff;
  border: none;
  background: #b03f3f;
}
.login_page .field_errors {
  color: #f5222d;
  top: 25%;
  position: absolute;
  list-style: none;
  left: 36%;
  font-size: 14px;
  line-height: 16px;
  width: 250px;
}
.login_page .field_errors li {
  margin-top: 12px;
}

.footer {
  width: auto;
  height: 190px;
}

.footer h1 {
  position: relative;
  font-size: larger;
  text-align: center;
}

.footer h2 {
  font-size: medium;
  text-align: center;
}

.footer p {
  font-size: small;
  text-align: center;
}

.auto-generated form {
  width: 100%;
}
.auto-generated form label {
  display: block;
}
.auto-generated form input {
  height: 40px;
  min-height: 40px;
  background: #fafafa;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 16px;
  transition: box-shadow 80ms ease;
}

.auto-generated p:empty {
  display: none;
}
.auto-generated form ul li:not(:last-child) {
  margin-bottom: 0.5em;
}
.auto-generated form ul {
  margin-bottom: 0;
}

@media (max-width: 918px) {
  .login_page {
    flex-direction: column;
    padding: 0;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .login_page .container {
    font-size: 18px;
  }
  .login_page form .form-container {
    width: 100%;
    padding: 5px 10px;
    height: auto;
  }
  .login_page form {
    width: 90%;
    height: auto;
  }
  .login_page form .form-row {
    width: 100%;
    padding: 4px;
  }
  .login_page form input {
    width: 50%;
  }

  .login_page h1 {
    font-size: 50px;
    width: auto;
  }
  .login_page .container {
    margin-bottom: 10px;
    width: 70%;
    text-align: justify;
  }
}

.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  background: #fafafa;
  flex-direction: column;
  border-radius: 2px;
  padding: 20px 0;
}
.otp-container h2{
  font-size: 30px;
}

.alert-txt{
  color: red!important;
  font-size: 12px;
}
