<!-- {"title": "Circular object detector", "category": "image", "complexity": "basic", "complexity": "basic"} -->
  <View>
    <Image name="image" value="$image"/>
    <RectangleLabels name="label" toName="image">
      <Label value="Trucks and cars" background="red"/>
      <Label value="Trees" background="purple"/>
    </RectangleLabels>
  </View>
