{% extends 'users/user_base.html' %}
{% block user_content %}

<form id="otp-form" action="{% url 'create-pass' %}" method="post">
  {% csrf_token %}

  <div class="otp-container">
    <h2 class="display-4">Create Password</h2>
    <input type="password" class="ls-input" name="new_password" id="new_password" placeholder="New Password" />
    {% if form.errors.otp %}
    <ul class="field_errors">
      {% for error in form.errors.otp %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input type="password" class="ls-input" name="confirm_password" id="confirm_password" placeholder="Re-Enter New Password" />
    {% if form.errors.otp %}
    <ul class="field_errors">
      {% for error in form.errors.otp %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <button type="submit" aria-label="submit" class="ls-button ls-button_look_primary">
      Change
    </button>
  </div>

  <p>
    {% if messages %}
    {% for message in messages %}
    <span class="error">{{ message }}</span>
    {% endfor %}
    {% endif %}
  </p>
</form>

{% endblock %}
