{% extends 'users/user_base.html' %} {% block user_content %}

<form id="otp-form" action="{% url 'forgot-password' %}" method="post">
  {% csrf_token %}

  <div class="otp-container">
    <h2 class="display-4">Security Code</h2>
    <input
      type="email"
      class="ls-input"
      name="email"
      id="email"
      placeholder="Email"
    />
    {% if form.errors.otp %}
    <ul class="field_errors">
      {% for error in form.errors.otp %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <button
      type="submit"
      aria-label="submit"
      class="ls-button ls-button_look_primary"
    >
      Generate
    </button>
    <p class="alert-txt">* Security code is sent to your mail</p>
  </div>

  <p>
    {% if messages %} {% for message in messages %}
    <span class="error">{{ message }}</span>
    {% endfor %} {% endif %}
  </p>
</form>

{% endblock %}
