{% extends 'users/user_base.html' %}
{% block user_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <form id="signup-form" action="{% url 'user-signup' %}?{% if next %}&next={{ next }}{% endif %}{% if token %}&token={{ token }}{% endif %}" method="POST">
    {% csrf_token %}
    <div class="form-container">
 <h1>SIGN UP</h1>
      <div class="form-row">
        <label for="firstname">First Name</label>
        <input type="text" class="ls-input" name="first_name" id="firstName" placeholder="Enter the First Name" value="{{ form.data.first_name }}">
        {% if user_form.errors.first_name %}
          <ul class="field_errors">
            {% for error in user_form.errors.first_name %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-row">
        <label for="lastname">Last Name</label>
        <input type="text" class="ls-input" name="last_name" id="lastName" placeholder="Enter the Last Name" value="{{ form.data.last_name }}">
        {% if user_form.errors.last_name %}
          <ul class="field_errors">
            {% for error in user_form.errors.last_name %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-row">
        <label for="email">Email</label>
        <input type="text" class="ls-input" name="email" id="email" placeholder="Enter the Email" value="{{ form.data.email }}">
        {% if user_form.errors.email %}
          <ul class="field_errors">
            {% for error in user_form.errors.email %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        </div>
      <div class="form-row">
        <label for="password">Password</label>
        <input type="password" class="ls-input" name="password" id="password" placeholder="Enter the Password">
        <!-- <i class="fas fa-eye show" style="margin-top: 10px; margin-right: 20px; margin-left: -160px; cursor: pointer; color: grey;"></i> -->
        {% if user_form.errors.password %}
          <ul class="field_errors">
            {% for error in user_form.errors.password %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div class="form-row">
          <label for="confirm_password">Confirm Password</label>
          <input type="password" class="ls-input" name="confirm_password" id="confirmPw" placeholder="Confirm Password">
          <i class="fas fa-eye show" style="margin-top: 10px; margin-right: 20px; margin-left: -90px; cursor: pointer; color:grey;"></i>
          {% if user_form.errors.confirm_password %}
            <ul class="field_errors">
              {% for error in user_form.errors.confirm_password %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="error">
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
      <p><button type="submit" aria-label="Create Account" class="ls-button ls-button_look_primary"  >Create Account</button></p>
    </div>  
   
  </form>

  <script>
    const pwShow = document.querySelector(".show"),
    password = document.querySelector('#password'),
    confirmPw = document.querySelector('#confirmPw');

  
    pwShow.addEventListener('click', () => {
      // toggle the type attribute
      if((password.type === "password") && (confirmPw.type === "password"))
      {
        password.type = "text";
        confirmPw.type = "text";
        pwShow.classList.replace("fa-eye", "fa-eye-slash")
      }
      else
      {
        password.type = "password";
        confirmPw.type = "password";
        pwShow.classList.replace("fa-eye-slash", "fa-eye")
      }
      // toggle the eye slash icon
  });

  </script>
  
{% endblock %}
